<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
    	<h1>Submitted Information</h1>
        <label>Name:</label><p><%= name %></p>
        <label>Location:</label><p><%= location %></p>
        <label>Favorite Language:</label><p><%= language %></p>
        <label>Comment:</label><p><%= comment %></p>
    </div>
  </body>
</html>