<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<h2>Submitted Information</h2>
			<label class="control-label">Name:</label>
			<div><%= name %></div>
			<label class="control-label">Dojo Location:</label>
			<div><%= location %></div>
			<label class="control-label">Favorite Language:</label>
			<div><%= language %></div>
			<label class="control-label">Comment:</label>
			<div><%= comment %></div>
		</div>
	</div>
</body>
</html>